{% extends "common/main_base.html" %}
{% load tags %}

{% block meta %}
{% include "common/meta.html" %}
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static_url "css/forms.css" %}">
<link rel="stylesheet" href="{% static_url "css/static.css" %}">
<link rel="stylesheet" href="{% static_url "css/signup.css" %}">
<style>#page-content { width: 440px; min-width: 440px;max-width: 440px;  }</style>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static_url 'js/forms.js' %}"></script>
<script type="text/javascript" src="{% static_url 'js/login.js' %}"></script>
<script>
$(document).ready(function() {
    $('#reset_submit').click(function() {
        $('#password_form').submit();
        return false;
    });
});
</script>
{% endblock %}

{% block content %}
{% include "util/form_header.html" %}
<div class="form_box bg_shadow">
<form id="password_form" method="POST" action="/forgot_password">
    {% csrf_token %}
    <div class="form_heading">
        <b>Forgot Password?</b>
    </div>
    <div class="notification"></div>
    <p>
        Please enter your login email and we will send you a link to
        reset your password.
    </p>
    {% if error %}
    <p>
        <br />
        <span style="color: red;">{{ error }}</span>
    </p>
    {% endif %}
    <br />
    <div class="form_group">
        <div class="label">E-mail</div>
        <input name="email" id="password_reset_email" type="text" />
    </div>
    <div class="sm_info right" style="margin-top:-8px;">
        <a href="/login">Login</a>
    </div>
    <div class="submit_spacer">
        <div id="reset_submit" class="button">Reset Password</div>
    </div>
</form>
</div>
{% endblock %}
