{% extends "common/manage_base.html" %}
{% load tags %}

{% block manage_form %}
<div class="header">
    {{ user.get_name }}'s <span class="faded">settings</span>
</div>

<div id="section_nav" class="section_options">
    <a href="{% url settings %}">about</a>
    <a class="selected" href="{% url settings_notifications %}">notifications</a>
    <a href="{% url settings_connect %}">connect</a>
    {% comment %}<a href="{% url settings_developer %}">developer</a>{% endcomment %}
</div>

{% if success %}
<div class="success_notification">
    Thanks, your settings have been saved!
</div>
{% endif %}

<form id="form" action="{% url settings_notifications %}" method="post">
    {% csrf_token %}
    {% for field in form.visible_fields %}
        {{ field.errors }}
        <div class="form_group">
            <div class="label">
                <div class="text">{{ field.label_tag }}:</div>
            </div>
            {{ field }}
            {{ field.help_text }}
        </div>
    {% endfor %}

    <div class="submit_spacer">
        <div class="notification"></div>
        <input id="save" class="button" type="submit" value="Save" />
    </div>
</form>
{% endblock %}
