<div class="donate_box">
    <div class="amount" style="margin-top:0px">Contributor</div>
    <div class="form_group">
        <div class="label" for="first_name">First Name</div>
        <input type="text" name="first_name" value="{{ user.first_name }}" id="d_nameoncard" />
    </div>

    <div class="form_group">
        <div class="label" for="last_name">Last Name</div>
        <input type="text" name="last_name" value="{{ user.last_name }}" id="d_lastnameoncard" />
    </div>

    <div class="form_group">
        <div class="label" for="email">Email Address</div>
        <input type="text" name="email" value="{{ user.email }}" id="d_email" />
    </div>

    <div class="form_group">
        <div class="label" for="phone">Phone</div>

        <input type="text" name="phone" value="{{ user.phone }}" id="d_phone" />
    </div>

    <div class="form_group">
        <div class="label" for="street">Address</div>
        <input type="text" name="street" value="" id="d_address" />
        <input type="text" name="street2" value="" id="d_address2" style="margin-left:116px; margin-top:10px" />
    </div>

    <div class="form_group">
        <div class="label" for="city">City</div>
        <input type="text" name="city" value="" id="d_city" />
    </div>

    <div class="form_group">
        <div class="label" for="state">State/Province</div>
        <input type="text" name="state" value=""  id="d_state" />
    </div>
    <div class="form_group">
        <div class="label" for="zip">Zip Code</div>
        <input type="text" name="zip" value=""  id="d_zip" />
    </div>

    <div class="form_group">
        <div class="label" for="country_code">Country</div>
        <select id="d_country_code">
            <option value="AF">Afghanistan</option>
            <option value="AX">&#197;Land Islands</option>
            <option value="AL">Albania</option>
            <option value="DZ">Algeria</option>
            <option value="AS">American Samoa</option>
            <option value="AD">Andorra</option>
            <option value="AO">Angola</option>
            <option value="AI">Anguilla</option>
            <option value="AQ">Antarctica</option>
            <option value="AG">Antigua And Barbuda</option>
            <option value="AR">Argentina</option>
            <option value="AM">Armenia</option>
            <option value="AW">Aruba</option>
            <option value="AU">Australia</option>
            <option value="AT">Austria</option>
            <option value="AZ">Azerbaijan</option>
            <option value="BS">Bahamas</option>
            <option value="BH">Bahrain</option>
            <option value="BD">Bangladesh</option>
            <option value="BB">Barbados</option>
            <option value="BY">Belarus</option>
            <option value="BE">Belgium</option>
            <option value="BZ">Belize</option>
            <option value="BJ">Benin</option>
            <option value="BM">Bermuda</option>
            <option value="BT">Bhutan</option>
            <option value="BO">Bolivia</option>
            <option value="BA">Bosnia And Herzegovina</option>
            <option value="BW">Botswana</option>
            <option value="BV">Bouvet Island</option>
            <option value="BR">Brazil</option>
            <option value="IO">British Indian Ocean Territory</option>
            <option value="BN">Brunei Darussalam</option>
            <!--<option value="BG">Bulgaria</option>-->
            <option value="BF">Burkina Faso</option>
            <option value="BI">Burundi</option>
            <option value="KH">Cambodia</option>
            <option value="CM">Cameroon</option>
            <option value="CA">Canada</option>
            <option value="CV">Cape Verde</option>
            <option value="KY">Cayman Islands</option>
            <option value="CF">Central African Republic</option>
            <option value="TD">Chad</option>
            <option value="CL">Chile</option>
            <option value="CN">China</option>
            <option value="CX">Christmas Island</option>
            <option value="CC">Cocos (Keeling) Islands</option>
            <option value="CO">Colombia</option>
            <option value="KM">Comoros</option>
            <option value="CG">Congo</option>
            <option value="CD">Congo, The Democratic Republic Of The</option>
            <option value="CK">Cook Islands</option>
            <option value="CR">Costa Rica</option>
            <option value="CI">Cote D'Ivoire</option>
            <option value="HR">Croatia</option>
            <option value="CU">Cuba</option>
            <option value="CY">Cyprus</option>
            <option value="CZ">Czech Republic</option>
            <option value="DK">Denmark</option>
            <option value="DJ">Djibouti</option>
            <option value="DM">Dominica</option>
            <option value="DO">Dominican Republic</option>
            <option value="EC">Ecuador</option>
            <!--<option value="EG">Egypt</option>-->
            <option value="SV">El Salvador</option>
            <option value="GQ">Equatorial Guinea</option>
            <option value="ER">Eritrea</option>
            <option value="EE">Estonia</option>
            <option value="ET">Ethiopia</option>
            <option value="FK">Falkland Islands (Malvinas)</option>
            <option value="FO">Faroe Islands</option>
            <option value="FJ">Fiji</option>
            <option value="FI">Finland</option>
            <option value="FR">France</option>
            <option value="GF">French Guiana</option>
            <option value="PF">French Polynesia</option>
            <option value="TF">French Southern Territories</option>
            <option value="GA">Gabon</option>
            <option value="GM">Gambia</option>
            <option value="GE">Georgia</option>
            <option value="DE">Germany</option>
            <!--<option value="GH">Ghana</option>-->
            <option value="GI">Gibraltar</option>
            <option value="GR">Greece</option>
            <option value="GL">Greenland</option>
            <option value="GD">Grenada</option>
            <option value="GP">Guadeloupe</option>
            <option value="GU">Guam</option>
            <option value="GT">Guatemala</option>
            <option value=" Gg">Guernsey</option>
            <option value="GN">Guinea</option>
            <option value="GW">Guinea-Bissau</option>
            <option value="GY">Guyana</option>
            <option value="HT">Haiti</option>
            <option value="HM">Heard Island And Mcdonald Islands</option>
            <option value="VA">Holy See (Vatican City State)</option>
            <option value="HN">Honduras</option>
            <option value="HK">Hong Kong</option>
            <option value="HU">Hungary</option>
            <option value="IS">Iceland</option>
            <option value="IN">India</option>
            <!--<option value="ID">Indonesia</option>-->
            <option value="IR">Iran, Islamic Republic Of</option>
            <option value="IQ">Iraq</option>
            <option value="IE">Ireland</option>
            <option value="IM">Isle Of Man</option>
            <!--<option value="IL">Israel</option>-->
            <option value="IT">Italy</option>
            <option value="JM">Jamaica</option>
            <option value="JP">Japan</option>
            <option value="JE">Jersey</option>
            <option value="JO">Jordan</option>
            <option value="KZ">Kazakhstan</option>
            <option value="KE">Kenya</option>
            <option value="KI">Kiribati</option>
            <option value="KP">Korea, Democratic People'S Republic Of</option>
            <option value="KR">Korea, Republic Of</option>
            <option value="KW">Kuwait</option>
            <option value="KG">Kyrgyzstan</option>
            <option value="LA">Lao People'S Democratic Republic</option>
            <option value="LV">Latvia</option>
            <option value="LB">Lebanon</option>
            <option value="LS">Lesotho</option>
            <option value="LR">Liberia</option>
            <option value="LY">Libyan Arab Jamahiriya</option>
            <option value="LI">Liechtenstein</option>
            <!--<option value="LT">Lithuania</option>-->
            <option value="LU">Luxembourg</option>
            <option value="MO">Macao</option>
            <!--<option value="MK">Macedonia, The Former Yugoslav Republic Of</option>-->
            <option value="MG">Madagascar</option>
            <option value="MW">Malawi</option>
            <!--<option value="MY">Malaysia</option>-->
            <option value="MV">Maldives</option>
            <option value="ML">Mali</option>
            <option value="MT">Malta</option>
            <option value="MH">Marshall Islands</option>
            <option value="MQ">Martinique</option>
            <option value="MR">Mauritania</option>
            <option value="MU">Mauritius</option>
            <option value="YT">Mayotte</option>
            <option value="MX">Mexico</option>
            <option value="FM">Micronesia, Federated States Of</option>
            <option value="MD">Moldova, Republic Of</option>
            <option value="MC">Monaco</option>
            <option value="MN">Mongolia</option>
            <option value="MS">Montserrat</option>
            <option value="MA">Morocco</option>
            <option value="MZ">Mozambique</option>
            <option value="MM">Myanmar</option>
            <option value="NA">Namibia</option>
            <option value="NR">Nauru</option>
            <option value="NP">Nepal</option>
            <option value="NL">Netherlands</option>
            <option value="AN">Netherlands Antilles</option>
            <option value="NC">New Caledonia</option>
            <option value="NZ">New Zealand</option>
            <option value="NI">Nicaragua</option>
            <option value="NE">Niger</option>
            <!--<option value="NG">Nigeria</option>-->
            <option value="NU">Niue</option>
            <option value="NF">Norfolk Island</option>
            <option value="MP">Northern Mariana Islands</option>
            <option value="NO">Norway</option>
            <option value="OM">Oman</option>
            <!--<option value="PK">Pakistan</option>-->
            <option value="PW">Palau</option>
            <option value="PS">Palestinian Territory, Occupied</option>
            <option value="PA">Panama</option>
            <option value="PG">Papua New Guinea</option>
            <option value="PY">Paraguay</option>
            <option value="PE">Peru</option>
            <!--<option value="PH">Philippines</option>-->
            <option value="PN">Pitcairn</option>
            <option value="PL">Poland</option>
            <option value="PT">Portugal</option>
            <option value="PR">Puerto Rico</option>
            <option value="QA">Qatar</option>
            <option value="RE">Reunion</option>
            <!--<option value="RO">Romania</option>-->
            <!--<option value="RU">Russian Federation</option>-->
            <option value="RW">Rwanda</option>
            <option value="SH">Saint Helena</option>
            <option value="KN">Saint Kitts And Nevis</option>
            <option value="LC">Saint Lucia</option>
            <option value="PM">Saint Pierre And Miquelon</option>
            <option value="VC">Saint Vincent And The Grenadines</option>
            <option value="WS">Samoa</option>
            <option value="SM">San Marino</option>
            <option value="ST">Sao Tome And Principe</option>
            <option value="SA">Saudi Arabia</option>
            <option value="SN">Senegal</option>
            <option value="CS">Serbia And Montenegro</option>
            <option value="SC">Seychelles</option>
            <option value="SL">Sierra Leone</option>
            <option value="SG">Singapore</option>
            <option value="SK">Slovakia</option>
            <option value="SI">Slovenia</option>
            <option value="SB">Solomon Islands</option>
            <option value="SO">Somalia</option>
            <option value="ZA">South Africa</option>
            <option value="GS">South Georgia And The South Sandwich Islands</option>
            <option value="ES">Spain</option>
            <option value="LK">Sri Lanka</option>
            <option value="SD">Sudan</option>
            <option value="SR">Suriname</option>
            <option value="SJ">Svalbard And Jan Mayen</option>
            <option value="SZ">Swaziland</option>
            <option value="SE">Sweden</option>
            <option value="CH">Switzerland</option>
            <option value="SY">Syrian Arab Republic</option>
            <option value="TW">Taiwan, Province Of China</option>
            <option value="TJ">Tajikistan</option>
            <option value="TZ">Tanzania, United Republic Of</option>
            <option value="TH">Thailand</option>
            <option value="TL">Timor-Leste</option>
            <option value="TG">Togo</option>
            <option value="TK">Tokelau</option>
            <option value="TO">Tonga</option>
            <option value="TT">Trinidad And Tobago</option>
            <option value="TN">Tunisia</option>
            <!--<option value="TR">Turkey</option>-->
            <option value="TM">Turkmenistan</option>
            <option value="TC">Turks And Caicos Islands</option>
            <option value="TV">Tuvalu</option>
            <option value="UG">Uganda</option>
            <!--<option value="UA">Ukraine</option>-->
            <option value="AE">United Arab Emirates</option>
            <option value="GB">United Kingdom</option>
            <option selected="selected" value="US">United States</option>
            <option value="UM">United States Minor Outlying Islands</option>
            <option value="UY">Uruguay</option>
            <option value="UZ">Uzbekistan</option>
            <option value="VU">Vanuatu</option>
            <option value="VE">Venezuela</option>
            <option value="VN">Viet Nam</option>
            <option value="VG">Virgin Islands, British</option>
            <option value="VI">Virgin Islands, U.S.</option>
            <option value="WF">Wallis And Futuna</option>
            <option value="EH">Western Sahara</option>
            <option value="YE">Yemen</option>
            <option value="ZM">Zambia</option>
            <option value="ZW">Zimbabwe</option>
        </select>


    </div>


    <div id="amount" class="">
        <div class="amount">Amount</div>
        {% if org.id != "4ce96f12e24566b0c41af88b" %}
        <p class="smallText">
            includes <a id="jumo_amount">optional 15% donation</a> to support Jumo
        </p>
        {% endif %}
        <ul class="donate_amount">
            <li class="checked"><span data-val="25">$25</span></li>
            <li><span data-val="50">$50</span></li>
            <li><span data-val="125">$125</span></li>
            <li><span data-val="250">$250</span></li>
            <li><span data-val="500">$500</span></li>
            <li><span data-val="1000">$1000</span></li>
            <li><span data-val="2000">$2000</span></li>
            <li class="input"><input type="text" name="donation_amount" value="" id="donation_amount" /></li>
        </ul>
    </div>


    <div id="billing_information" class="">
        <div class="amount">Payment Method</div>

        <div class="form_group">
            <div class="label" for="cc_number">Credit Card Number</div>
            <input type="text" name="cc_number" value="" id="d_creditcard" />
        </div>

        <div class="form_group">
            <div class="label" for="security_number">Security Code</div>
            <input type="text" name="security_number" value="" id="d_csc" />
        </div>
        <div class="form_group">
            <div class="label" for="exp_date">Expiration Date</div>
            <select name="exp_month" id="d_expiremonth" size="1">
	            <option value="">Month</option>
	            <option value="1">01 - Jan</option>
	            <option value="2">02 - Feb</option>
	            <option value="3">03 - Mar</option>
	            <option value="4">04 - Apr</option>
	            <option value="5">05 - May</option>

	            <option value="6">06 - Jun</option>
	            <option value="7">07 - Jul</option>
	            <option value="8">08 - Aug</option>
	            <option value="9">09 - Sep</option>
	            <option value="10">10 - Oct</option>
	            <option value="11">11 - Nov</option>

	            <option value="12">12 - Dec</option>
            </select>
            <select name="exp_year" id="d_expireyear" size="1">
	            <option value="">Year</option>
	            <option value="2011">2011</option>
	            <option value="2012">2012</option>

	            <option value="2013">2013</option>
	            <option value="2014">2014</option>
	            <option value="2015">2015</option>
	            <option value="2016">2016</option>
	            <option value="2017">2017</option>
	            <option value="2018">2018</option>

	            <option value="2019">2019</option>
	            <option value="2020">2020</option>
	            <option value="2021">2021</option>
            </select>
        </div>
        <div class="form_group">
            <div class="label" for="cc_type">Type</div>
            <select name="exp_year" id="d_cardtype" size="1">
	            <option value="Visa">Visa</option>
	            <option value="Mastercard">Master Card</option>
	            <option value="Amex">American Express</option>
            </select>
        </div>
    </div>
</div>

{% if user.is_authenticated %}
<div class="label" class="small" style="width:70%">share this on Jumo{% if user.facebook_id %} and Facebook{% endif %}</div>
<input id="donate_share" type="checkbox" checked />
{% endif %}
