<div id="create_account_button">
  <img src="" class="profile_img" />

  <div class="form_group">  
    <div class="label" for="fullname">Name</div>
    <input id="create_name" type="text" />
  </div>

  <div class="form_group">	
    <div class="label" for="ein">EIN</div>
    <input id="create_ein" type="password"/>
  </div>

  <div class="form_group">  
    <div class="label" for="email">E-mail</div>
    <input id="create_email" type="text" />
    <div class="sm_info">	
      Note: not publicly displayed    
    </div>
  </div>
  
  <div class="form_group">      
    <div class="label" for="vision statement">
      Statement
    </div>    
    <textarea id="create_vision"></textarea>
    <div id="ms_counter" class="sm_info"><b>200</b> characters left</div>
  </div>     
    
  <div class="form_group">      
    <div class="label" for="website">Website</div>
    <input id="create_website" type="text"/>	
  </div>

  <div class="form_group">      
    <div class="label" for="location">Twitter Username</div>
    <input id="create_twitter" type="text"/>	
  </div>

  <div class="form_group">      
    <div class="label" for="location">Facebook ID</div>    
    <input id="create_facebook" type="text"/>	
    <div class="sm_info">
      <a href="http://help.wildfireapp.com/faqs/tutorials/how-to-find-out-your-facebook-fan-page-public-profile-id" target="_blank">need help finding your Facebook ID?</a>
    </div>
  </div>

  <div class="form_group">      
    <div class="label" for="location">Location</div>
    <input id="create_location" type="text"/>	
  </div>

  <div class="submit_spacer">    
    <div class="sm_info inset">
      By clicking on "Add my Issue" below, you are agreeing to
      the <a href="/terms">Terms of Service</a> and
      the <a href="/privacy_policy">Privacy Policy</a>.
    </div>
  </div>
  
  <div class="submit_spacer">
    <div class="notification"></div>
    <center>
      <div id="create_submit" class="button">Add my Issue</div>
    </center>
  </div>

  <div class="sm_info">
    foo bar baz
  </div>    
</div>
