{% load tags %}
{% load users_tags %}

{% comment %} should be the same as util/popup_entity.html{% endcomment %}
<div class="clearfix item">
    <div class="button_wrapper">
        {% follow_button ent %}
    </div>
    <div class="ent">
        {% if ent.get_image_small %}
        <a style="float:left;" href="{% if ent.url %}{{ ent.url }}{% else %}{{ ent.get_url }}{% endif %}"><i style="background-image: url({{ ent.get_image_small }}); background-position: 0px 0px;"></i></a>
        {% endif %}

        <a class="name" href="{{ ent.get_absolute_url }}">{{ ent.get_name }}</a>
        {% if ent.bio %}<br /><div class="body">{{ ent.bio|truncatechars:37 }}</div>{% endif %}
    </div>
</div>
