amqplib==0.6.1
anyjson==0.3.1
BeautifulSoup==3.2.0
bebop==0.0.6
boto==2.0b4
celery==2.2.4
Django==1.2.4
django-celery==2.2.4
git+git://github.com/django-debug-toolbar/django-debug-toolbar.git@b2e0c98c51f33b43429849a09f0dcbf812c51571
django-grappelli==2.3.2
django-jenkins
django-picklefield==0.1.9
django-tastypie==0.9.9
dstk==1.20
Fabric==1.0.0
gdata
GitPython==0.3.2RC1
httplib2==0.6.0
ipython
kombu==1.0.6
logilab-astng
logilab-common
lxml>=2.2.3
mock
MySQL-python==1.2.3
paramiko==1.7.6
PIL==1.1.7
pycrypto==2.3
pyparsing==1.5.5
pysolr==2.0.15
python-dateutil==1.5
python-memcached==1.47
pyyaml
pytz==2011e
#readline - This should be handled on a individual system basis.
SQLAlchemy==0.6.6
sqlalchemy-migrate==0.6.1
Tempita==0.5dev
unidecode
virtualenv==1.6
yql==0.7
wsgiref==0.1.2
