{% load tags %}
<table cellpadding="0" cellspacing="0" bgcolor="#FFFFFF" border="0" style="font-size:12px; font:arial;">
    <tbody>
        <tr>
            <td valign="top" align="left">
                <a href="http://{{ hostname }}/{{ item.poster.username }}">
                    <img style="height: 32px;
                                width: 32px;
                                margin-right: 5px;
                                background: #ffffff;
                                border:2px solid #DEDEDE;"
                         src="{{ item.poster.get_image }}" /></a></td>
            <td valign="top" align="left">
                <a style="font-weight: bold;
                          color: #0070D0;
                          cursor: pointer;
                          text-decoration: none;"
                   href="http://{{ hostname }}/{{ item.poster.username }}">
                    {% if user and item.poster.username == user.username %}You
                    {% else %}{{ item.poster.get_name }}
                    {% endif %}
                </a> {% if user and item.poster.username == user.username %}are{% else %}is{% endif %} now following

                <a style="font-weight: bold;
                          color: #0070D0;
                          cursor: pointer;
                          text-decoration: none;"
                   href="http://{{ hostname }}{{ item.target.get_url }}">
                    {% if user and item.target.username == user.username %}you
                    {% else %}{{ item.target.get_name }}
                    {% endif %}
        </a></td></tr>
    </tbody>
</table>
