{% extends 'common/static_page.html' %}

{% block static_content %}
<div id="about" class="main_content clearfix">
    <div class="border clearfix">
        <div class="cs static">
            <div class="top_heading">
                <h1>About Jumo</h1>
                <h2>
                    <b>Jumo is a social network that helps people find
                        high-quality non-profits and take meaningful action.</b>
                </h2>
            </div>
            <div class="bottom_section">
                <div class="section">
                    <div class="body">
                        <p>
                            <b>Jumo</b> enables people to find
                            organizations and similarly minded people
                            working on important causes here in the
                            United States and across the world. Nearly
                            15,000 organizations from across the globe
                            have signed up for Jumo to share their
                            work and the stories of the people they
                            serve.
                        </p>
                        <p>
                            Jumo was founded by Chris Hughes,
                            co-founder of Facebook and director of
                            online organizing for Barack Obama’s 2008
                            presidential campaign.
                        </p>
                    </div>
                </div>
                <div class="section">
                    <div class="heading">
                        Why Jumo?
                    </div>
                    <div class="body">
                        <p>
                            Founded in February 2010, Jumo set out to address three
                            key challenges:
                        </p>
                        <ul>
                            <li>
                                There are millions of people working
                                to improve the lives of others, many
                                of whom lack the resources to have
                                greatest impact.
                            </li>
                            <li>
                                There are millions more who want to help, but don’t know
                                how.
                            </li>
                            <li class="last">
                                Despite huge advancements in connection technologies, it’s
                                hard to find meaningful opportunities to get involved.
                            </li>
                        </ul>
                        <p>
                            <b>We believe we can do better.</b>
                        </p>
                    </div>
                </div>
                <div class="section">
                    <div class="heading">
                        Contact Us
                    </div>
                    <div class="body">
                        <ul>
                            <li>
                                <a target="_blank" href="http://jumo.assistly.com/customer/emails/new?ticket[labels_new]=support">Contact Technical Support</a>
                            </li>
                            <li>
                                <a target="_blank" href="http://jumo.assistly.com/customer/emails/new?ticket[labels_new]=press">Press inquiries</a>
                            </li>
                            <li>
                                <a target="_blank" href="http://jumo.assistly.com/customer/emails/new?ticket[labels_new]=feedback">Inquiries and feedback</a>
                            </li>
                            <li class="last">
                                <a target="_blank" href="http://jumo.assistly.com/customer/emails/new?ticket[labels_new]=outreach">Questions about your organization on Jumo</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="section last">
                    <div class="heading">Address</div>
                    <div class="body">
                        Jumo<br />
                        113 Spring Street 3rd FL<br />
                        New York, NY 10012
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

