{% extends 'common/static_page.html' %}

{% block static_content %}
<div id="terms" class="main_content clearfix">
    <div class="cs static">
        <div class="top_heading" style="width:72.3%; margin-bottom: 10px;">
            <h1>
                Jumo and GOOD Combine Forces to Create Content and
                Social Engagement Platform
            </h1>
        </div>
        <div class="bottom_section" style="width:82%">
            <div class="section">
                <p>
                    I’m thrilled to share with you today the exciting news that Jumo is
                    combining forces with <a href="http://www.good.is/">GOOD</a> to create a powerful online content and
                    social engagement platform. This is an enormous opportunity for our
                    talented teams to build a single community of like-minded people and
                    mission-driven organizations.
                </p>
                <p>
                    When we started Jumo over a year and half ago, we had a simple
                    mission: to use technology to help everyday people have a meaningful
                    impact on the world. We’ve long believed that the best way to
                    facilitate positive change is to connect individuals to outstanding
                    organizations working on the ground in our communities and around the
                    world.
                </p>
                <p>
                    Today, we are one step closer to fulfilling this goal. GOOD brings to
                    the table a vibrant community of three million monthly users who read
                    and interact with their dynamic content. Jumo brings a network of
                    motivated activists and nearly 15,000 socially driven organizations.
                </p>
                <p>
                    The marriage of these two organizations lays the foundation for us to
                    form the most extensive network of people, organizations, and
                    opportunities in the social sector. Nowhere else on the web will you
                    find as many committed people or high-performing organizations as you
                    will on the GOOD/Jumo platform.
                </p>
                <p>
                    As our teams combine, you will see the emergence of a single, vibrant
                    online network on GOOD.is. I will be teaming up with GOOD’s CEO, Ben
                    Goldhirsh, to help grow GOOD and Jumo through an important stage of
                    development. And in the spirit of our heritage as a non-profit, we
                    will be open-sourcing our own codebase to enable other social
                    entrepreneurs to use our progress thus far for their own endeavors.
                </p>
                <p>
                    We’re looking forward to continuing our work in pursuit of global
                    change over the years to come. Stay tuned!
                </p>
                <p>
                    Chris
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
