{% extends 'common/static_page.html' %}

{% block static_content %}
<div id="contact" class="section selected">
    <h2>
        Contact
    </h2>

    <ul class="nostyle">
        <li>
            <a target="_blank" href="http://jumo.assistly.com/customer/emails/new?ticket[labels_new]=support">Contact Technical Support</a>
        </li>
        <li>
            <a target="_blank" href="http://jumo.assistly.com/customer/emails/new?ticket[labels_new]=press">Press inquiries</a>
        </li>
        <li>
            <a target="_blank" href="http://jumo.assistly.com/customer/emails/new?ticket[labels_new]=feedback">Inquiries and feedback</a>
        </li>
        <li>
            <a target="_blank" href="http://jumo.assistly.com/customer/emails/new?ticket[labels_new]=outreach">Questions about your organization on Jumo</a>
        </li>
    </ul>

    <h3>Address</h3>
    <p>
        Jumo<br />
        113 Spring Street 3rd FL<br />
        New York, NY 10012
    </p>
</div>
{% endblock %}
