{% extends 'common/static_page.html' %}

{% block static_content %}
<div id="help" class="main_content clearfix">
    <div class="cs static">
        <div class="top_heading">
            <h1>
                Help
            </h1>
        </div>
        <div class="bottom_section">
            <div class="section">
                <div class="heading nopadding" id="users">For People</div>
                <h3>What does it mean to “Help Out” a project or issue?</h3>
                <p>
                    Clicking the “Help Out” button on an issue or organization page means 
                    you’re committed to making a difference on the issue or supporting 
                    the organization. For some of you, it may mean committing to learning 
                    more. For others, you may be ready to take action today. On expanded 
                    pages, we provide suggestions of things you can do immediately to 
                    have an impact. We will continue to provide new opportunities to get 
                    involved for those individuals committed to each organization and issue.
                </p>

                <h3>How can I get updates from Jumo more/less frequently?</h3>
                <p>
                    You can change the frequency of updates in the “Settings” tab 
                    in your profile.
                </p>

                <h3>What’s on my profile and who can see it?</h3>
                <p>
                    Jumo allows you to share information about the issues and 
                    organizations you care about. You can control what information 
                    and activity is shared by choosing to remove content from 
                    your profile.  If you chose to log-in via Facebook, we make 
                    things easier for you by automatically using your photo and 
                    basic information.  You can edit any of this.
                </p>
                <p>
                    Jumo profiles are public and may be viewed by anyone on the web.
                </p>
            </div>
            <div class="section">
                <div class="heading" id="organizations">For Organizations</div>
                
                <h3>What organizations can join Jumo?</h3>
                <p>
                    Jumo is open to all organizations or groups with a charitable 
                    mission, from the soup kitchen down the street to a rural 
                    health clinic in India. As a 501(c)(3) organization, we cannot 
                    accept organizations whose primary activity is influencing 
                    legislation or campaigning for political candidates. If you 
                    have questions about your group’s eligibility, contact the Jumo 
                    team <a target="_blank" href="http://jumo.assistly.com/customer/emails/new?ticket[labels_new]=orghelp">here</a>.
                </p>
                
                <h3>How can I create a page for my organization or project?</h3>
                <p>
                    To create a page for your organization and to become the 
                    administrator, you must first sign up for a personal profile on 
                    Jumo. Once you create a personal profile, you can “Add an 
                    Organization” from the “Account” dropdown in the top navigation 
                    menu. 
                </p>

                <h3>How does Jumo choose which organizations have expanded profiles?</h3>
                <p>
                    We are piloting a different style of profile based on user 
                    feedback.  Drawn from our list of suggested organizations, we’ve 
                    chosen a sample that includes organizations that work across 
                    different issue areas and vary in size, scope, and age.  We will 
                    use the information from this pilot in order to help us refine 
                    profile pages and roll-out an improved design to more 
                    organizations.  If your organization has an expanded profile 
                    and you have a content correction, please contact us here. 
                </p>
                <p>
                    Read more about our <a href="#expandedprofiles">expanded profiles</a>.
                </p>

                <h3>My organization already has a profile. How can I become the administrator?</h3>
                <p>
                    You can become the administrator by clicking on “Is This Your 
                    Organization” on your organization’s page.
                </p>

                <h3>What does it mean to be the administrator of an organization's profile?</h3>
                <p>
                    As the administrator of a typical organization profile, you 
                    can edit organizational information (e.g., Mission, Vision). 
                    Each organization can have one administrator.
                </p>
                <p>
                    On our pilot expanded profiles, Jumo writers profile the 
                    organization. If you are an administrator of an organization 
                    with an expanded page and you have a correction or addition 
                    to make, please contact us <a target="_blank" href="http://jumo.assistly.com/customer/emails/new?ticket[labels_new]=orghelp">here</a>. We are 
                    experimenting with this new type of profile and would love 
                    your feedback.
                </p>
                
                <h3>Why doesn’t my organization’s profile page have a donate button?</h3>
                <p>
                    Jumo can only process donations for registered 501(c)(3) organizations. 
                </p>
                <p>
                    To receive donations, you must provide your organization’s EIN
                    as registered with the IRS by clicking on “Edit this page”
                    and entering the number in “Settings.” If you do not know
                    your organization’s EIN, you can search for it <a target="_blank" href="http://nccsdataweb.urban.org/PubApps/search.php">here</a>. If you
                    have questions related to donations through Jumo, you can
                    contact us <a target="_blank" href="http://jumo.assistly.com/customer/emails/new?ticket[labels_new]=orghelp">here</a>
                </p>
            </div>
            <div class="section">
                <div class="heading" id="jumo">Questions about Jumo</div>
                <h3>How does Jumo work?</h3>
                <p>
                    Jumo is a social network that helps people find high-quality 
                    non-profits and take meaningful action.  We enable people to 
                    find organizations and similarly minded people working on 
                    important causes in the United States and across the world.   
                    Over 15,000 organizations from across the globe have signed 
                    up for Jumo to share their work and the stories of the people 
                    they serve.
                </p>

                <h3>How are you different from other online platforms?</h3>
                <p>
                    Jumo aims to help people use their personal interests and 
                    social network to find the best non-profits out there.  Once 
                    Jumo users have connected to these groups, we help provide 
                    meaningful opportunities to support their work, and in doing 
                    so, positively affect the world.
                </p>
                <p>
                    If you have feedback on how we can best help you build these 
                    lasting relationships, please let us know!
                </p>

                <h3>What does Jumo mean?</h3>
                <p>
                    Jumo means "to come together" in the West African language of
                    Yoruba.
                </p>

                <h3>Is Jumo a non-profit organization?</h3>
                <p>
                    Yes. Jumo is a registered 501(c)(3) organization.
                </p>

                <h3>How are donations processed?</h3>
                <p>
                    Donations on Jumo are processed
                    by <a href="http://www.networkforgood.org/about">Network for
                        Good</a>, a nonprofit, donor advised fund.    A 4.75% grant is
                    made to Network for Good with each donation transaction to fund
                    its mission and help support the expense of maintaining the
                    technology to process and distribute your donations.
                </p>
                <p>
                    Users can choose to include an optional donation to Jumo, a
                    registered 501(c)(3) organization, in the donation process. Your
                    donation is tax deductible to the full extent of the law.
                </p>
                <p>
                    If you have questions related to the donation process, please
                    contact <a href="mailto:donations@networkforgood.org">donations@networkforgood.org</a>.
                </p>

                <h3>What does it mean to include an optional donation to Jumo?</h3>
                <p>
                    Jumo is a registered 501(c)(3) charitable organization working
                    to connect individuals and organizations who want to change the
                    world. A tax-deductible donation to Jumo covers operational
                    expenses and processing fees associated with your gift.
                </p>

                <h3>How does Jumo choose the organizations suggested to users?</h3>
                <p>
                    Jumo is an open platform that welcomes all organizations with a 
                    clear social or environmental mission. The Jumo team has worked 
                    with experts in the field to identify highly effective organizations 
                    working in nearly 250 issue areas. This is an ongoing process and 
                    we appreciate all input and feedback. You can send us feedback  <a target="_blank"
                                            href="http://jumo.assistly.com/customer/emails/new?ticket[labels_new]=feedback">here</a>.
                </p>

                <h3>How will my nonprofit organization receive funds from donations made through this site?</h3>
                <p>
                    Donations to US nonprofits are processed by our nonprofit
                    partner <a href="http://www.networkforgood.org/about">Network
                        for Good</a>; an industry leader in processing online
                    donations with a charitable giving system that is approved by
                    the <a href="http://www.bbb.org/charity-reviews/national/other/network-for-good-in-bethesda-md-1290">Better
                        Business Bureau Wise Giving Alliance (BBB)</a>. Payment for
                    donations made to your nonprofit are sent on the 15th of each
                    month and will include all donations made in the previous
                    month. For example, donations processed in February will be
                    paid on March 15th. Checks will be sent to your nonprofit's
                    address as listed in GuideStar and will include an insert
                    describing the sources of all donations.
                </p>
                <ul class="small">
                    <li>
                        To change the address listed for your nonprofit profile in
                        GuideStar <a href="http://www2.guidestar.org/">click
                            here</a>. Updates to that form will be shared with Network for
                        Good for future payments.
                    </li>
                    <li>
                        To access donor information, you can login
                        to <a href="https://www.networkforgood.org/npo/MyAccount/Login.aspx">Network
                            for Good's</a> donation tracking report here. You will need to
                        establish a login using your charity's nine-digit EIN
                        number. Once you are registered, you will have access to a
                        real-time online report detailing information about your
                        donors who have chosen to share their contact
                        information. Network for Good encourages you to reach out to
                        them directly and provide information about how their donation
                        is being used to support your mission.
                    </li>
                    <li class="last">
                        To get your donations more quickly (and to save paper!), have
                        them sent to you electronically via electronic funds transfer,
                        also called EFT. You can sign
                        up <a href="https://www.networkforgood.org/npo/fundraising/eft/application1.aspx/">here</a>.
                    </li>
                </ul>
                
                <h3>Why are some issue pages longer than others?</h3>
                <p>
                    We’re currently experimenting with Jumo-written introductions 
                    to issues.  We’ve piloted this with a subset of popular issues 
                    and are soliciting user feedback on whether this additional 
                    information is useful before rolling it out to more issues.  
                    <a target="_blank" href="http://jumo.assistly.com/customer/widget/emails/new?ticket[labels_new]=pagefeedback">Please let us know what you think</a>!
                </p>
                
                <h3 id="expandedprofiles">Why are some organization pages longer than others?</h3>
                <p>
                    We’re currently experimenting with expanded profiles that are 
                    written by Jumo, based on publicly available information.  
                    We’re constantly learning more about what users want and what 
                    will be most effective for the organizations on our site.  
                </p>
                <p>
                    Our goal is to help the reader quickly understand the basics 
                    of what the organization does and what it has achieved.  
                    We’ve heard that this kind of information would be valuable to 
                    users.  Currently individuals can access financial information 
                    on sites like Guidestar and Charity Navigator and in-depth 
                    information on organizations’ websites, but we’ve heard that 
                    people often need a concise, layman’s description of an 
                    organization.  This is what we’ve attempted to provide.  
                </p>
                <p>
                    In addition, expanded profiles include suggestions on what 
                    committed users can do to support these organizations.  After 
                    users find compelling organizations, we want them to be able 
                    to quickly and easily know how to support them further.  
                </p>
                <p>
                    We would love to hear what you think about these expanded 
                    organization pages.  We will take your <a target="_blank" href="http://jumo.assistly.com/customer/widget/emails/new?ticket[labels_new]=pagefeedback">feedback</a> to continue 
                    refining them.
                </p>
            </div>
        </div>
    </div>
    <div class="rs">
        <div class="top_spacer"></div>
        <div class="help_out_container">
            <div class="help_out">
                <div class="title nopadding">
                    Frequently Asked Questions
                </div>
                <ul class="small">
                    <li>
                        <a href="#users" class="users selected">For People</a>
                    </li>
                    <li>
                        <a href="#organizations" class="organizations">For Organizations</a>
                    </li>
                    <li class="last">
                        <a href="#jumo" class="jumo">Questions about Jumo</a>
                    </li>
                </ul>
            </div>
        </div>
        <a href="http://jumo.assistly.com/customer/widget/emails/new"><b>Report a problem</b></a>
    </div>
</div>
{% endblock %}
