<div class="ls section_options">
    <a href="/about" class="filter{% if title == "About" %} selected{% endif %}">About</a>
    <a href="/team" class="filter{% if title == "Our Team" %} selected{% endif %}">Team</a>
    <a href="/jobs" class="filter{% if title == "Jobs" %} selected{% endif %}">Jobs</a>
    <a href="/privacy" class="filter{% if title == "Privacy Policy" %} selected{% endif %}">Privacy</a>
    <a href="/terms" class="filter{% if title == "Terms of Service" %} selected{% endif %}">Terms</a>
    <a href="/help" class="filter last{% if title == "Help" %} selected"{% endif %}">Help</a>
</div>
