{% extends "common/static_page.html" %}

{% block static_content %}
<div id="team" class="main_content clearfix">
    <div class="border clearfix">
    <div class="cs static">
        <div class="top_heading">
            <h1>
                Our Team
            </h1>
        </div>
        <h2>
            The <b>Jumo</b> Team is a small group of engineers and nonprofit
            professionals committed to making the world a better place.
        </h2>
        <div class="bottom_section">
            <div class="group section clearfix" >
                <img src="http://graph.facebook.com/5/picture?type=large" />
                <div class="about">
                    <div class="heading"><a href="/chrishughes">Chris Hughes</a></div>
                    <div class="subheading">Founder and Executive Director</div>
                    <div class="body">
                        <p>
                            Chris co-founded Facebook in 2004 and
                            helped lay the foundation for the
                            communications and product management
                            teams. Chris then directed online
                            organizing for Barack Obama’s 2008
                            presidential campaign. He graduated from
                            Harvard University with a bachelor’s in
                            History and Literature.
                        </p>
                        <p>
                            <b>Following</b>:
                            <a href="/freedomtomarry">Freedom to Marry</a>,
                            <a href="/gaylesbianadvocatesanddefendersglad">GLAD</a>,
                            <a href="/partnersinhealth">Partners in Health</a>,
                            <a href="/acumenfund">Acumen Fund</a>,
                            <a href="/access">Access</a>,
                            <a href="/innovationsforpovertyaction">Innovations for Poverty Action</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="group section clearfix">
                <img src="http://graph.facebook.com/8603307/picture?type=large">
                <div class="about">
                    <div class="heading"><a href="/kristentitus">Kristen Titus</a></div>
                    <div class="subheading">Managing Director</div>
                    <div class="body">
                        <p>
                            Kristen manages Jumo's fundraising,
                            communications, outreach and operations
                            and has helped to develop the
                            organization’s mission and vision since
                            its founding. Prior to joining Jumo,
                            Kristen worked as a consultant to
                            nonprofit organizations and cultural
                            institutions. She is passionate about
                            women’s rights and improving access to
                            quality education and health care.
                        </p>
                        <p>
                            <b>Following</b>:
                            <a href="/livinggoods">Living Goods</a>,
                            <a href="/partnersinhealth">Partners in Health</a>,
                            <a href="/creativecapitalfoundation">Creative Capital</a>,
                            <a href="/gems">GEMS</a>,
                            <a href="/womensrights">women’s rights</a>,
                            <a href="/humantrafficking">human trafficking</a>,
                            <a href="/hivaids">HIV/AIDS</a>,
                            <a href="/girlseducation">girl’s education</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="group section clearfix">
                <img src="http://graph.facebook.com/500038627/picture?type=large" />
                <div class="about">
                    <div class="heading"><a href="/joshhendler">Josh Hendler</a></div>
                    <div class="subheading">Chief Technology Officer</div>
                    <div class="body">
                        <p>
                            Prior to Jumo, Josh was the Director of
                            Technology at the DNC and Organizing for
                            America. He's worked in a number of technology
                            roles in political organizations and
                            non-profits including John Kerry's 2004
                            campaign, the british Labour party, and Rock
                            the Vote. Josh was also one of the early
                            technical staff at Major League Baseball's
                            MLB.com.
                        </p>
                        <p>
                            <b>Following</b>:
                            <a href="/naturalresourcesdefensecouncil">Natural Resources Defense Council</a>,
                            <a href="/unionofconcernedscientists">Union of Concerned Scientists</a>,
                            <a href="/crohnsandcolitisfoundationofamerica">Crohns & Colitis Foundation</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="group section clearfix">
                <img src="http://jumopimgs.s3.amazonaws.com/user/115917/large.jpg" />
                <div class="about">
                    <div class="heading"><a href="/jenchiou">Jen Chiou</a></div>
                    <div class="subheading">Outreach Director</div>
                    <div class="body">
                        <p>
                            Jen works with the community to understand
                            how Jumo can maximize our collective
                            impact through connecting people with
                            social issues, organizations, and
                            opportunities to act. Previously, she
                            worked at Teach For All and helped launch
                            programs similar to Teach For America
                            around the world. Jen was also a
                            consultant at the Bridgespan Group and
                            advised foundations and nonprofits. She
                            has a BA from Stanford University.
                        </p>
                        <p>
                            <b>Following</b>:
                            <a href="/populationservicesinternational">Population Services International</a>,
                            <a href="/teachforindia">Teach For India</a>,
                            <a href="/oneacrefund">One Acre Fund</a>,
                            <a href="/villagereach">Village Reach</a>,
                            <a href="/internationalrescuecommittee">International Rescue Committee</a>,
                            <a href="/humantrafficking">human trafficking</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="group section clearfix">
                <img src="http://graph.facebook.com/671896922/picture?type=large" />
                <div class="about">
                    <div class="heading"><a href="/nickthuesen">Nick Thuesen</a></div>
                    <div class="subheading">Web Developer</div>
                    <div class="body">
                        <p>
                            Prior to Jumo, Nick worked as a Senior Software Developer at The New
                            York Times. He has an abnormal passion for hoodies and
                            batman and is often seen drawing on tables at work.
                        </p>
                        <p>
                            <b>Following</b>:
                            <a href="/unionofconcernedscientists">Union Of Concerned Scientists</a>,
                            <a href="/sciencefridayinitiative">Friday Initiative</a>,
                            <a href="/partnersinhealth">Partners in Health</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="group section clearfix">
                <img src="http://graph.facebook.com/174800237/picture?type=large" />
                <div class="about">
                    <div class="heading"><a href="/brennanmoore">Brennan Moore</a></div>
                    <div class="subheading">Developer and Designer</div>
                    <div class="body">
                        <p>
                            Brennan designs and develops much of what you see on the Jumo
                            site. Prior to Jumo, Brennan worked at MIT CSAIL and the
                            design firm Modernista, where he developed campaigns for such
                            clients as Product(RED) and the Gates Foundation. He likes
                            Yerba Mate and is interested in building beautiful and useful
                            tools that help people make more informed decisions.
                        </p>
                        <p>
                            <b>Following</b>:
                            <a href="/brennancenterforjustice">Brennan Center for Justice</a>,
                            <a href="/creativecommons">Creative Commons</a>,
                            <a href="/electronicfrontierfoundation">Electronic Frontier Foundation</a>,
                            <a href="/frontlinesms">Frontline SMS</a>
                    </div>
                </div>
            </div>

            <div class="group section clearfix">
                <img src="http://graph.facebook.com/811594/picture?type=large" />
                <div class="about">
                    <div class="heading"><a href="/albarrentine">Al Barrentine</a></div>
                    <div class="subheading">Developer</div>
                    <div class="body">
                        <p>
                            Al loves data. He comes to Jumo from LimeWire
                            where he received tall props for his MySQL
                            wizardry. At Jumo he's the resident database guy
                            (his GitHub handle
                            is <a href="https://github.com/thatdatabaseguy">thatdatabaseguy</a>)
                            and does search, relevance and pretty much
                            anything that involves logarithms. In his spare
                            he's a trumpet player and was featured
                            in <a href="http://www.youtube.com/watch?v=PglfNDepTyQ">this
                                hip-hop video</a>.
                        </p>
                        <p>
                            <b>Following</b>:
                            <a href="/oneeconomycorporation">One Economy</a>,
                            <a href="/solarelectriclightfundself">Solar Electric Light Fund</a>,
                            <a href="/managementleadershipfortomorrow">Management Leadership for Tomorrow</a>,
                            <a href="/promujer">Pro Mujer</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="group section clearfix">
                <img src="http://graph.facebook.com/213606/picture?type=large" />
                <div class="about">
                    <div class="heading"><a href="/ericma">Eric Ma</a></div>
                    <div class="subheading">Developer</div>
                    <div class="body">
                        <p>
                            Eric comes to Jumo after working on a startup he
                            co-founded for the past two years. Born in Wisconsin,
                            raised in Maryland, and having lived in the Bay Area
                            for the last 6 years, Eric is new to New York, but
                            very much an East Coaster at heart. He is a huge
                            Packers fan, and is currently trying to learn how to
                            cook.
                        </p>
                        <p>
                            <b>Following</b>:
                            <a href="/codeforamerica">Code for America</a>,
                            <a href="/kipp">KIPP Foundation</a>,
                            <a href="/embrace">Embrace</a> and
                            <a href="/boysandgirlsclubsofamerica">Boys and Girls Club of America</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="group section clearfix">
                <img src="http://graph.facebook.com/1626665502/picture?type=large" />
                <div class="about">
                    <div class="heading"><a href="/giteshgohel">Gitesh Gohel</a></div>
                    <div class="subheading">Project and Quality Assurance Manager</div>
                    <div class="body">
                        <p>
                            Gitesh is the resident Brit at Jumo. He has spent the last
                            couple of years working at non-profits, PR agencies and
                            political campaigns and living between London, DC and New
                            York. Gitesh now spends his time loitering at Jumo throwing
                            a ball for his dog Woody.
                        </p>
                        <p>
                            <b>Following</b>:
                            <a href="/thetrevorproject">The Trevor Project</a>,
                            <a href="/oldiesbutgoodies">Oldies But Goodies Cocker Spaniel Rescue</a>,
                            <a href="/nationalpublicradio">National Public Radio</a>,
                            <a href="/mediamattersforamerica">Media Matters</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="group section clearfix">
                <img src="http://graph.facebook.com/613291548/picture?type=large" />
                <div class="about">
                    <div class="heading"><a href="/kathrynfleegel">Kathryn Fleegel</a></div>
                    <div class="subheading">Finance Director</div>
                    <div class="body">
                        <p>
                            Katie is a licensed CPA with a background in public accounting and
                            non-profit work. Prior to joining Jumo, she was an auditor at
                            PricewaterhouseCoopers and then worked at Phoenix House Foundation
                            in a finance and budgeting role. She is a New York Road Runner and
                            spends a lot of time on the loop in Prospect Park. Katie is
                            passionate about microfinance and her local CSA group (Community
                            Supported Agriculture) that creates and funds opportunities for
                            immigrants with agricultural experience to become local farmers.
                        </p>
                        <p>
                            <b>Following</b>:
                            <a href="/surfriderfoundation">Surfrider Foundation</a>,
                            <a href="/natureconservancy">Nature Conservancy</a>,
                            <a href="/publicbroadcastingservice">Public Broadcasting System</a>,
                            <a href="/oneacrefund">One Acre Fund</a>,
                            <a href="/cityharvest">City Harvest</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="group section clearfix">
                <img src="http://graph.facebook.com/538431833/picture?type=large" />
                <div class="about">
                    <div class="heading"><a href="/genevievepowers">Genevieve Powers</a></div>
                    <div class="subheading">Assistant to Executive Director</div>
                    <div class="body">
                        <p>
                            Genevieve previously worked at General Catalyst Partners in
                            Cambridge, MA. She has a Bachelor's degree in Magazine
                            Journalism with a minor in Visual Arts from Boston University.
                            The issues that worry her most are animal rights,
                            environmental preservation, and military veteran support, but
                            she's proud that her work at Jumo indirectly supports all
                            non-profit organizations.
                        </p>

                        <p>
                            <b>Following</b>:
                            <a href="/worldwildlifefund">World Wildlife Fund</a>,
                            <a href="/medecinssansfrontieres">Medecins Sans Frontieres</a>,
                            <a href="/partnersinhealth">Partners in Health</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="group section clearfix">
                <img src="http://graph.facebook.com/7801871/picture?type=large" />
                <div class="about">
                    <div class="heading"><a href="/tylercoates">Tyler Coates</a></div>
                    <div class="subheading">Office Manager</div>
                    <div class="body">
                        <p>
                            Tyler is a relatively new New Yorker after moving
                            here from Chicago, where he worked in
                            administrative positions at various
                            universities. In addition to managing Jumo's
                            office supplies and snacks, he is a freelance
                            writer; his work has appeared around the internet,
                            including The Awl, BlackBook, Popdust, and Yahoo,
                            among others.
                        </p>
                        <p>
                            <b>Following</b>:
                            <a href="/newyorkcares_">New York Cares</a>,
                            <a href="/plannedparenthoodfederationofamerica">Planned Parenthood Federation of America</a>,
                            <a href="/92ndstreety">92nd Street Y</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="group section clearfix last">
                <img src="http://graph.facebook.com/11519872/picture?type=large" />
                <div class="about">
                    <div class="heading"><a href="/hannahhickman">Hannah Hickman</a></div>
                    <div class="subheading">Outreach Associate</div>
                    <div class="body">
                        <p>
                            Hannah has a BA in Women and Gender Studies. She is a fan of
                            social activism and Earl Gray tea.
                        </p>
                        <p>
                            <b>Following</b>:
                            <a href="/waterorg">Water.org</a>,
                            <a href="/guttmacherinstitute">Guttmacher Institute</a>,
                            <a href="/witness">WITNESS</a>,
                            <a href="/humantrafficking">human trafficking</a>,
                            <a href="/cleandrinkingwater">clean drinking water</a>,
                            <a href="/hivaids">HIV/AIDS</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="rs static">
        <div class="top_spacer"></div>
        <div class="help_out_container">
        <div class="help_out">
            <div class="title">Team</div>
            <div class="body">
                <p>
                Interested in joining our team? <br />
                Check out our <a href="/jobs"><b>jobs</b></a> page!
                </p>
            </div>
        </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
