{% extends 'common/static_page.html' %}

{% block static_content %}
<div id="terms" class="main_content clearfix">
    <div class="cs static">
        <div class="top_heading">
            <h1>
                Terms of Service
            </h1>
        <h2>
            Effective: November 30, 2010
            <br />
            <br />
            Welcome to the web site of Jumo, located at
            www.jumo.com (the “Jumo Site”). These Terms of Service
            govern your access to and use of the Jumo Site and all
            documents, materials, photographs, videos and all
            other content made available through the Jumo Site
            (the Content”). By accessing or using the Jumo Site,
            you agree to be bound by these Terms of Service (the
            “Terms” or “Terms of Service”). If you do not agreed
            to the terms and conditions of these Terms of Service,
            you are not permitted to use the Jumo Site.
        </h2>

        </div>
        <div class="bottom_section">
            <div class="section">
                <div class="heading">Basic Terms</div>
                <ol>
                    <li>
                        Jumo is a registered 501(c)(3) organization as
                        defined by the Internal Revenue Service. All
                        Content and activity on the Jumo site is
                        intended to serve to further charitable
                        purposes.
                    </li>
                    <li>
                        You are solely responsible for your use of the Jumo Site, for
                        all Content you post to the Jumo Site and for any and all
                        consequences resulting therefrom.
                    </li>
                    <li>
                        The Content you submit, post or display will be able to be
                        viewed by other users of the Jumo Site and through third party
                        services and websites.
                    </li>
                    <li>
                        The Jumo Site is always evolving and the form and nature of
                        the Jumo Site that Jumo provides may change without prior
                        notice to you.
                    </li>
                    <li>
                        The Jumo Site may include advertisements, which may be
                        targeted to the Content displayed on the Jumo Site, queries
                        made through the Jumo Site, or other information. In using
                        Jumo Site, you agree that Jumo and its third party partners
                        may place such advertising on the Jumo Site or in connection
                        with the display of Content or information from the Jumo Site
                        whether submitted by you or others.
                    </li>
                    <li>
                        Jumo reserves the right, in its sole discretion, to restrict,
                        suspend, or terminate these Terms of User and/or your access
                        to all or any part of the Jumo Site and any Content at any
                        time and for any reason without prior notice or liability.
                    </li>
                </ol>
            </div>
            <div class="section">
                <div class="heading">Content</div>
                <ol>
                    <li>
                        All Content, whether publicly or privately transmitted, is the
                        sole responsibility of the person or entity that originated
                        such Content.
                    </li>
                    <li>
                        Jumo does not endorse, support, represent or guarantee the
                        truthfulness, accuracy, or reliability of any Content created
                        by its users or third party sources.
                    </li>
                    <li>
                        Jumo does not tolerate nor endorse any Content that might be
                        offensive, harmful, inaccurate or otherwise
                        inappropriate. Such use is subject to removal without prior
                        notification and immediate termination of user accounts.
                    </li>
                    <li>
                        Through the Jumo Site and the Content, Jumo seek to further
                        charitable purposes. Any Content or activity connected to any
                        commercial use is subject to removal without prior
                        notification and immediate termination or user accounts.
                    </li>
                    <li>
                        Jumo reserves the right at all times to remove or refuse
                        Content on the Jumo Site and to terminate or reclaim users and
                        their user pages.
                    </li>
                    <li>
                        Jumo reserves the right to access, read, preserve, and
                        disclose any information as we reasonably believe is necessary
                        to (i) satisfy any applicable law, regulation, legal process
                        or governmental request, (ii) enforce the Terms, including
                        investigation of potential violations hereof, (iii) detect,
                        prevent, or otherwise address fraud, security or technical
                        issues, (iv) respond to user support requests, or (v) protect
                        the rights, property or safety of Jumo, its users and the
                        public.
                    </li>
                    <li>
                        If you believe Jumo Content to violate any of the above terms,
                        report to Jumo
                        directly <a href="http://jumo.assistly.com/customer/emails/new?ticket[labels_new]=terms">here</a>.
                    </li>
                </ol>
            </div>
            <div class="section">
                <div class="heading">Users</div>
                <ol>
                    <li>
                        You are responsible for your use of the Jumo Site, any Content
                        you provide, and for any consequences thereof, including the
                        use of your Content by other users and third party partners.
                    </li>
                    <li>
                        Jumo respects the rights and opinions of its users and expects
                        its users to do the same. Any Content that can be construed as
                        hateful, inappropriate or offensive is subject to removal
                        without prior notification and the user accounts subject to
                        termination.
                    </li>
                    <li>
                        Users cannot willfully impersonate an individual or entity on
                        Jumo.    Such fraudulent use is subject to immediate termination
                        of user accounts without prior notice.
                    </li>
                    <li>
                        Users are responsible for ensuring the security of their
                        accounts and shall maintain the privacy and security of their
                        account passwords.
                    </li>
                </ol>
            </div>
            <div class="section">
                <div class="heading">Privacy</div>
                <ol>
                    <li>
                        Any information you provide to Jumo is subject to our Privacy
                        Policy, which governs our collection and use of your
                        information.    You understand that through your use of the Jumo
                        Site you consent to the terms of
                        the <a href="/privacy">Privacy Policy</a>.
                    </li>
                </ol>
            </div>
            <div class="section">
                <div class="heading">Copyright</div>
                <ol>
                    <li>
                        Jumo respects the intellectual property rights of others and
                        expects its users to do the same.
                    </li>
                    <li>
                        If you believe that your work has been copied in a way that
                        constitutes copyright infringement, please provide Jumo’s
                        copyright agent the written information specified
                        below. Please note that this procedure is exclusively for
                        notifying Jumo that your copyrighted material has been
                        infringed.
                    </li>
                </ol>
                <ul class="dots">
                    <li>
                        An electronic or physical signature of the person authorized
                        to act on behalf of the owner of the copyright interest;
                    </li>
                    <li>
                        A description of the copyrighted work that you claim has been
                        infringed upon;
                    </li>
                    <li>
                        A description of where the material that you claim is
                        infringing is located on the site, including the auction ID
                        number, if applicable;
                    </li>
                    <li>
                        Your address, telephone number, and e-mail address;
                    </li>
                    <li>
                        A statement by you that you have a good-faith belief that the
                        disputed use is not authorized by the copyright owner, its
                        agent, or the law;
                    </li>
                    <li>
                        A statement by you, made under penalty of perjury, that the
                        above information in your notice is accurate and that you are
                        the copyright owner or authorized to act on the copyright
                        owner's behalf.
                    </li>
                </ul>
            </div>
            <div class="section">
                <div class="heading">Contact</div>
                <div class="body">
                    <p> Contact Jumo’s Copyright Agent for notice of claims of
                        copyright infringement on its site can be reached as follows:
                    </p>
                    <p>
                        Jumo<br />
                        Attn: Copyright Agent<br />
                        113 Spring Street 3rd FL<br />
                        New York, NY 10012 <br />
                        <a target="_blank"
                           href="http://jumo.assistly.com/customer/emails/new?ticket[labels_new]=copyright">email us</a>
                    </p>
                </div>
            </div>
            <div class="section">
                <div class="heading">Feedback</div>
                <div class="body">
                    <p>
                        Any comments, suggestions, proposals or other
                        feedback (collectively “Feedback Information”)
                        provided to Jumo shall be provided by the
                        submitter and received by Construction Data
                        Company on a non-confidential basis. You
                        acknowledge and agree that all Feedback
                        Information shall become the exclusive
                        property of Jumo. By submitting any such
                        Feedback Information to Jumo, you agree that
                        you are transferring and assigning, at no
                        charge, all of your right, title and interest
                        in such Feedback Information, including all
                        copyrights and other intellectual property
                        rights. You agree that, as the owner of the
                        Feedback Information, Jumo shall be free to
                        use such information on an unrestricted basis.
                    </p>
                </div>
            </div>
            <div class="section">
                <div class="heading">Indemnification</div>
                <div class="body">
                    <p>
                        You agree to defend, indemnify and hold harmless Jumo, its
                        directors, officers, employees and agents from and against all
                        claims and expenses, including attorneys' fees, arising out of
                        the use of the Jumo Site.
                    </p>
                </div>
            </div>
            <div class="section">
                <div class="heading">Disclaimer of Warranties and Limitation of Liability</div>
                <div class="body">
                    <p>
                        THE JUMO SITE AND ALL CONTENT INCLUDED ON OR OTHERWISE MADE
                        AVAILABLE TO YOU THROUGH THE JUMO SITE ARE PROVIDED BY JUMO ON
                        AN "AS IS" AND "AS AVAILABLE" BASIS, UNLESS OTHERWISE
                        SPECIFIED IN WRITING. JUMO MAKES NO REPRESENTATIONS OR
                        WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED, AS TO THE
                        OPERATION OF THE JUMO SITE OR THE CONTENT INCLUDED ON OR
                        OTHERWISE MADE AVAILABLE TO YOU THROUGH THE JUMO SITE, UNLESS
                        OTHERWISE SPECIFIED IN WRITING. YOU EXPRESSLY AGREE THAT YOUR
                        USE OF THIS SITE IS AT YOUR SOLE RISK.
                    </p>
                    <p>
                        TO THE FULL EXTENT PERMISSIBLE BY APPLICABLE LAW, JUMO
                        DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING, BUT
                        NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY AND
                        FITNESS FOR A PARTICULAR PURPOSE. JUMO DOES NOT WARRANT THAT
                        THE JUMO SITE OR ANY CONTENT INCLUDED ON OR OTHERWISE MADE
                        AVAILABLE TO YOU THROUGH THE JUMO SITE; JUMO’S SERVERS; OR
                        E-MAIL SENT FROM JUMO ARE FREE OF VIRUSES OR OTHER HARMFUL
                        COMPONENTS. JUMO WILL NOT BE LIABLE FOR ANY DAMAGES OF ANY
                        KIND ARISING FROM THE USE OF THE JUMO SITE OR FROM ANY CONTENT
                        INCLUDED ON OR OTHERWISE MADE AVAILABLE TO YOU THROUGH THE
                        JUMO SITE, INCLUDING, BUT NOT LIMITED TO DIRECT, INDIRECT,
                        INCIDENTAL, PUNITIVE, AND CONSEQUENTIAL DAMAGES, UNLESS
                        OTHERWISE SPECIFIED IN WRITING.
                    </p>
                    <p>
                        CERTAIN STATE LAWS DO NOT ALLOW LIMITATIONS ON IMPLIED
                        WARRANTIES OR THE EXCLUSION OR LIMITATION OF CERTAIN
                        DAMAGES. IF THESE LAWS APPLY TO YOU, SOME OR ALL OF THE ABOVE
                        DISCLAIMERS, EXCLUSIONS, OR LIMITATIONS MAY NOT APPLY TO YOU,
                        AND YOU MIGHT HAVE ADDITIONAL RIGHTS.
                    </p>
                </div>
            </div>
            <div class="section last">
                <div class="heading">General Terms</div>
                <div class="body">
                    <p>
                        The failure of Jumo to enforce any right or provision of these
                        Terms will not be deemed a waiver of such right or
                        provision. In the event that any provision of these Terms is
                        held to be invalid or unenforceable, the remaining provisions
                        of these Terms will remain in full force and effect.    You
                        agree that the laws of the state of New York, without regard
                        to principles of conflict of laws, will govern these Terms of
                        Service and any dispute of any sort that might arise between
                        you and Jumo. You hereby consent to the exclusive jurisdiction
                        of the state and federal courts locate in New York, NY for all
                        disputes arising out of these Terms of Service and/or use of
                        the Jumo Site. If any of the terms of the Terms of Service
                        shall be deemed invalid, void, or for any reason
                        unenforceable, that condition shall be deemed severable and
                        shall not affect the validity and enforceability of any
                        remaining condition.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="rs">
        <div class="top_spacer"></div>
    </div>
</div>
{% endblock %}
