<meta property="og:description" content="{{ entity.tagline }}">
<meta property="description" content="{{ entity.tagline }}">
<meta property="og:title" content="{{ entity.get_name }} | Jumo">
<meta property="fb:app_id" content="{{ settings.FACEBOOK_APP_ID }}">
<meta property="og:site_name" content="Jumo">
<meta property="og:image" content="{{ entity.get_image_large }}">
<meta property="og:url" content="http://www.jumo.com{{ entity.get_url }}">
<meta property="og:type" content="cause">
{% if entity.get_video_id %}
<meta property="og:video" content="http://www.youtube.com/v/{{ entity.get_video_id }}?version=3&amp;autohide=1">
<meta property="og:video:type" content="application/x-shockwave-flash">
<meta property="og:video:width" content="640">
<meta property="og:video:height" content="480">
{% endif %}
