/*  Selectors
------------------------------------------------------------------------------------------------------ */

.selector-available, .selector-chosen {
    border: 1px solid #ccc;
    border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
    background: #ddd;
}
.selector h2, .inline-group .selector h2,
.inline-related fieldset .selector-available h2, .inline-related fieldset .selector-chosen h2 {
    border: 0;
    border-bottom: 1px solid #d0d0d0;
    background: transparent;
}
.selector .selector-filter {
    color: #666;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    border-top-left-radius: 5px;-moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px;
    border-top-right-radius: 5px; -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px;
}
.selector h2 + .selector-filter {
    border-radius-topleft: 0; -moz-border-radius-topleft: 0; -webkit-border-top-left-radius: 0;
    border-radius-topright: 0; -moz-border-radius-topright: 0; -webkit-border-top-right-radius: 0;
}
.selector select[multiple=multiple] {
    border-left: 0;
    border-top: 1px solid #d0d0d0;
    border-bottom: 1px solid #d0d0d0;
    border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0;
}

a.selector-chooseall, a.selector-clearall {
    border-top: 1px solid #e4e4e4;
}

.selector h2 + select {
    border-top: 0;
}

a.selector-chooseall, a.selector-clearall {
    border-top: 1px solid #e4e4e4;
}

.selector {
    overflow: hidden;
}
.selector-available, .selector-chosen {
    float: left;
    width: 200px;
}
.selector h2, .inline-group .selector h2,
.inline-related fieldset .selector-available h2, .inline-related fieldset .selector-chosen h2 {
    padding: 7px 5px 6px 7px;
    font-size: 12px;
    line-height: 13px;
    font-weight: bold;
    margin: 0;
}
.selector .selector-filter {
    padding: 3px 5px 2px 2px;
    margin: 0;
    min-height: 25px;
    font-size: 10px;
    font-weight: bold;
    line-height: 25px;
    text-indent: 5px;
}
.selector-available .selector-filter {
    text-indent: 25px;
    background: url('../../media/admin/img/icons/icon-searchbox.png') 6px 50% no-repeat;
}
.selector .selector-filter input[type=text] {
    position: relative;
    margin: 0;
    width: 160px !important;
    max-width: 160px !important;
}
.selector .selector-filter img {
    display: none;
}
.selector .selector-chosen .selector-filter:after {
    content: " " url('../../media/admin/img/icons/icon-selector_add-m2m_horizontal-hover.png');
    opacity: .75;
}
.selector.stacked .selector-chosen .selector-filter:after {
    content: " " url('../img/icons/icon-selector_add-m2m_vertical-hover.png');
}
.selector select[multiple=multiple] {
    margin: 0;
    padding-left: 3px;
    max-width: 221px !important;
    width: 201px !important;
    height: 150px;
}
.selector h2 + select {
    display: none;
    position: relative;
    top: -1px;
}
.selector ul.selector-chooser {
    float: left;
    margin: 110px 2px 0;
    padding: 0;
    width: 18px;
    border: none;
}
.selector ul.selector-chooser li {
    border: none;
    padding: 0;
}
a.selector-add, a.selector-remove {
    display: block;
    width: 18px;
    height: 18px;
    color: transparent !important;
    background-position: 50% 0;
    background-repeat: no-repeat;
}
a.selector-add:link, a.selector-add:visited {
    background-image: url('../../media/admin/img/icons/icon-selector_add-m2m_horizontal.png');
}
a.selector-add:hover, a.selector-add:active {
    background-image: url('../../media/admin/img/icons/icon-selector_add-m2m_horizontal-hover.png');
}
a.selector-remove:link, a.selector-remove:visited {
    background-image: url('../../media/admin/img/icons/icon-selector_remove-m2m_horizontal.png');
}
a.selector-remove:hover, a.selector-remove:active {
    background-image: url('../../media/admin/img/icons/icon-selector_remove-m2m_horizontal-hover.png');
}
.stacked a.selector-add:link, .stacked a.selector-add:visited {
    background-image: url('../../media/admin/img/icons/icon-selector_add-m2m_vertical.png');
}
.stacked a.selector-add:hover, .stacked a.selector-add:active {
    background-image: url('../../media/admin/img/icons/icon-selector_add-m2m_vertical-hover.png');
}
.stacked a.selector-remove:link, .stacked a.selector-remove:visited {
    background-image: url('../../media/admin/img/icons/icon-selector_remove-m2m_vertical.png');
}
.stacked a.selector-remove:hover, .stacked a.selector-remove:active {
    background-image: url('../../media/admin/img/icons/icon-selector_remove-m2m_vertical-hover.png');
}
a.selector-chooseall, a.selector-clearall {
    display: block;
    margin: 0;
    padding: 2px 7px;
    font-size: 11px;
    line-height: 13px;
    font-weight: bold;
}
