{% extends "email/html/notifications/base.html" %}

{% block content %}
<p style="font-size:12px; font-weight:bold;margin:0px;padding:0px;">
    Click the following link to verify your affiliation with {{ entity.get_name }}:
</p>
<a style="font-family:Arial,sans-serif;
          font-size:12px;
          text-decoration:underline;
          margin:0;
          padding:0;
          color: #0070d0;
          line-height: 148%;" href="http://{{ hostname }}/org/claim/{{ entity.id }}/confirm/{{ org_claim_token }}">http://{{ hostname }}/org/claim/{{ entity.id }}/confirm/{{ org_claim_token }}</a>
{% endblock %}
