{% extends "email/html/notifications/base.html" %}

{% block content %}
<p style="font-family:Arial,sans-serif;font-size:12px;margin:0px;padding:0px;font-weight:bold;">
    Boost your advocate status by posting, commenting on, and caring
    about stories on Jumo:
</p>
<br />
<p style="font-family:Arial,sans-serif;font-size:12px;margin:0px;padding:0px;">
    <a style="font-family:Arial,sans-serif;
              font-size:12px;
              text-decoration:underline;
              margin:0;
              padding:0;
              color: #0070d0;
              line-height: 148%;" href="http://{{ hostname }}{{ entity.get_url }}">http://{{ hostname }}{{ entity.get_url }}</a>
</p>
<br />
<p style="font-family:Arial,sans-serif;font-size:12px;margin:0px;padding:0px;">
    Keep up the good work!
</p>
{% endblock %}
